<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>

 	<header>
		<div class="container">
			<h1>Usuarios</h1>
		</div>
	</header>

	<div class="container mt-4">
		<a th:href="@{/new}" class="btn btn-primary">Nuevo</a>

		<div class="col-12">
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="cerrar sesion" />
			</form>
		</div>

		<table class="table">

			<thead>
				<tr>
					<th>IdUsuarios</th>
					<th>Nombres</th>
					<th>Apellidos</th>
					<th>Usuario</th>
					<th>Contraseña</th>
					<th>Foto</th>
					<th>Correo</th>
					<th>Fecha de creacion</th>
					<th>Acciones</th>
				</tr>
			</thead>


			<tbody>

				<tr th:each="usuario:${usuarios}">
					<td th:text="${usuario.IdUsuario}"></td>
					<td th:text="${usuario.nombres}"></td>
					<td th:text="${usuario.apellidos}" />
					<td th:text="${usuario.username}"></td>
					<td th:text="${usuario.password}"></td>
					<td th:text="${usuario.Foto}"></td>
					<td th:text="${usuario.Correo}"></td>
					<td th:text="${usuario.FechaCreacion}"></td>
					<td><a th:href="@{/editar/}+${usuario.IdUsuario}"
						class="btn btn-warning">Editar</a> <a
						th:href="@{/eliminar/}+${usuario.IdUsuario}"
						class="btn btn-danger">Eliminar</a></td>

				</tr>

			</tbody>

		</table>

	</div>
	<script type="text/javascript"
		src="/src/main/resources/static/funciones.js"></script>
	
</body>
</html>